
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin-top: 40px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --black: #3F3f3F;
  --blue: #2535EF;
  --gray: #ADABB0;
  --slate-gray: #bdbbbe;
  --faded-sky: #E7EFFB;
  --bg-faded-sky: #f7f9fc;
  --input-border: #72aad4;
  --select-border: #777;
  --select-focus: var(--blue);
  --primary: #2A5D84;
}

.doc-container{
  width: 100%;
  display: flex;
  color: var(--black);
}

.input-container{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.input-title-container{
  margin-bottom: 20px;
}
.input-title-container .title{
  font-weight: 600;
  font-size: 1.1rem;
}

.common-properties{
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 10px 6px var(--faded-sky);
}

.drag-n-drop-container{
  border-radius: 10px;
  padding: 30px 10px;
  border: 1px dashed var(--input-border);
  background-color: var(--bg-faded-sky);
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.drag-n-drop-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drag-n-drop-text{
  font-size: 0.88rem;
  color: var(--gray);
}
.drag-n-drop-hint{
  font-size: 0.82rem;
  color: var(--slate-gray);
  font-weight: 500;
}

.input-field-container{
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.input-checkbox-container{
  font-family: inherit;
  font-size: 0.95rem;
  margin-bottom: 12px;
  display: flex;
}

.doc-container select {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 13px;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.doc-container select {
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
  background-color: var(--bg-faded-sky);
  margin-top: 4px;
}

.doc-container input[type='text']{
  display: block;
  width: 100%;
  padding: 6px 14px;
  border: 1px solid var(--input-border);
  background-color: var(--bg-faded-sky);
  border-radius: 3px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
}

.doc-container select:focus, input:focus{
  outline: none;
}

.submit-btn{
  background-color: var(--primary);
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
  cursor: inherit;
  padding: 6px 0;
  margin: 5px 0 0 0;
  color: #efefef;
  font-size: 15px;
  line-height: inherit;
}
.submit-btn:hover{
  cursor: pointer;
  background-color: #fff;
  color: var(--primary);
}
.red-text{
  color: red;
}

/* documents table section starts */
.file-list-container{
  width: 50%;
  display: flex;
  justify-content: center;
}
.table-container{
  width: 85%;
}
.documents-table{
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
.documents-table thead{
  background: var(--primary);
  color: #efefef;
  font-size: 14px;
}
.documents-table th{
  padding: 10px 20px;
  font-weight: 500;
  border: 1px solid var(--black);
}
.documents-table td{
  padding: 10px 20px;
  border: 1px solid var(--slate-gray);
  font-size: 14px;
}
.table-title{
  font-weight: 500;
  color: var(--black);
  font-size: 1.1rem;
}